.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    font-size: 2rem;
    padding-bottom: 5px;
  }
}

.icons-box {
  img {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
}

@media (max-width: 1000px) {
  .icons-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 800px) {
  .icons-box img:not(:last-child) {
    margin-right: 50px;
  }
}
