.weather {
  padding: 115px 0;
  background: #e27866;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-titlle {
    color: #ffffff;
    h2 {
      font-size: 3.6rem;

      padding-bottom: 22px;
      text-align: center;
    }
    p {
      font-size: 1.4rem;
      padding-bottom: 20px;
    }
  }
  .celcius-flex {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    align-content: center;

    h4 {
      font-size: 1.8rem;
      padding-left: 10px;
    }
    p {
      font-size: 1.2rem;
      align-items: center;
      padding-bottom: 0;
      padding-left: 20px;
    }
  }

  .contact-box {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 391px;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #cbcbcb;
      padding: 20px 0 30px 0;
      input {
        margin-right: 40px;
        padding-left: 10px;
        border: none;
        border-bottom: 1px solid #8c8c8c;
        // text-decoration: underline;

        &:not(:last-child) {
          margin-top: 35px;
          padding-bottom: 5px;
          width: 260px;
        }

        &::placeholder {
          color: #cbcbcb;
          padding-bottom: 5px;
        }
      }
    }
  }

  .contact-row {
    display: flex;
    padding-top: 35px;
    margin-right: 85px;

    gap: 40px;

    .radio-input-wrap {
      text-align: center;

      input {
        font-size: 9px;
        display: none;
      }

      input:checked ~ label:before {
        background: #41d395;
        box-shadow: inset 0px 0px 0px 3px #fff;
      }

      label {
        text-transform: uppercase;
        cursor: pointer;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          display: inline-block;
          left: -20px;
          top: -2px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          border: 1px solid #41d395;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  input:focus {
    outline: none;
  }
  .send-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .send {
      background-color: #41d395;
      font-size: 1.5rem;
      border-radius: 8px;
      color: #ffffff;
      text-decoration: none;
      padding: 20px 60px 20px 60px;
      margin-bottom: 40px;
      border: none;
    }
  }
}

@media (max-width: 700px) {
  .weather {
    .contact-titlle {
      text-align: center;
    }
    .celcius-flex {
      justify-content: center;
    }
  }
}
@media (max-width: 440px) {
  .weather {
    .contact-row {
      margin-right: 0;
    }
    .contact-box {
      // max-width: 230px;

      form {
        input {
          margin-right: 0;

          &:not(:last-child) {
            max-width: 150px;
            width: 100%;
          }
        }
      }
    }
  }
}
